<nav class="gh-navigation">
  <div class="gh-navigation-previous">
    {{#prev_post}}
    <a class="gh-navigation-link" href="{{url}}">
      <span class="gh-navigation-label">{{> icons/arrow-left}} Artigo anterior</span>
      <h4 class="gh-navigation-title">{{title}}</h4>
    </a>
    {{/prev_post}}
  </div>

  <div class="gh-navigation-middle"></div>

  <div class="gh-navigation-next">
    {{#next_post}}
    <a class="gh-navigation-link" href="{{url}}">
      <span class="gh-navigation-label">Próximo artigo {{> icons/arrow-right}}</span>
      <h4 class="gh-navigation-title">{{title}}</h4>
    </a>
    {{/next_post}}
  </div>
</nav>