<a href="https://somostera.com/cursos/digital-product-leadership?utm_campaign=product-oversee_dpl&utm_source=product-oversee&utm_medium=banner&utm_content=product-oversee_dpl" class="po-home-sponsor">
  <img src="{{asset "images/sponsor/tera-logo.png"}}">
</a>