
{{#if @custom.sidebar_banner}} 
<div class="po-sidebar-banner">

<!-- /7969368/po-banner-sidebar 
<div id='div-gpt-ad-1651103905668-0' style='min-width: 300px; min-height: 250px;'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1651103905668-0'); });
  </script>
</div>-->

  <ul>
    <li>
      <a href="https://bit.ly/3NeTamh"><img alt="Cursos iTuring" src="{{asset "/images/sponsor/ituring-banner.png"}}"></a>
    </li>
    <li>
      <a href="https://bit.ly/3wuhgTg"><img  alt="Cursos Tera" src="{{asset "/images/sponsor/tera-banner.png"}}"></a>
    </li>
    <li>
      <a href="https://bit.ly/3wuhgTg"><img alt="Cursos Tera" src="{{asset "/images/sponsor/tera-banner.png"}}"></a>
    </li>
    <li>
      <a href="https://bit.ly/3wrDhlR" class="po-banner po-banner-first"><img alt="Cursos iTuring" src="{{asset "/images/sponsor/ituring-banner-2.png"}}"></a>
    </li>
  </ul>
</div>
{{/if}}
