<div class="po-sponsor-post">
    <ul>
        <li class="po-sponsor-post-ituring">
            <a href="https://www.ituring.com.br/analise-de-dados-para-negocios/?utm_source=productoversee&utm_medium=comunidade&utm_campaign=adpn?utm_source=ProductOversee&utm_medium=article_ProductOversee&utm_campaign=parceria_ProductOversee">
                <img src="{{asset "images/sponsor/ituring-logo.png"}}">
                <p>O ITuring é um instituto de educação em tecnologia e negócios da era digital.
                </p>
            </a>
        </li>
        <li class="po-sponsor-post-tera">
            <a href="https://www.ituring.com.br/analise-de-dados-para-negocios/?utm_source=productoversee&utm_medium=comunidade&utm_campaign=adpn?utm_source=ProductOversee&utm_medium=article_ProductOversee&utm_campaign=parceria_ProductOversee">
                <img src="{{asset "images/sponsor/ituring-logo.png"}}">
                <p>tera é um instituto de educação em tecnologia e negócios da era digital.</p>
            </a>
        </li>
    </ul>
</div>