/**** VARIABLES ****/
:root {
  --breakpoint: 900px;
  --colorRed: #FC0D1B;
  --colorBlack: #121212;
  --colorBlackStrong: #000000;
  --colorGrayLight: #E5E5E5;
  --colorGrayMedium: #4F4F4F;
  --fontDefault: "Azeret Mono", "The Future Mono 02", monospace;
  --fontSerif: "Noto Serif Display", "Times New Roman", Times, serif;
  --fontMono: "Azeret Mono", "The Future Mono 02", monospace;
  --fontSansSerif: "Roboto Flex", "Open Sans", Helvetica, Arial, sans-serif;
  --font-sans: "Roboto Flex", "Open Sans", Helvetica, Arial, sans-serif;
  --fontArticle: "Open Sans", arial, helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  text-rendering: optimizeLegibility;
}

.gh-main {
	padding: 10rem 0 !important;
}
html {
  font-size: 60%;
}
body {
  text-rendering: optimizespeed;
	font: 1rem var(--fontDefault);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {max-width: 100%;}

h1,h2,h3,h4,h5,h6 {
  color: var(--color-darker-gray);
}

a {
  transition: all linear .13s;
}

a:hover,
a:hover h1 {
  color: var(--colorRed);
}

.gh-subscribe-input {max-width: 225px !important; text-decoration: none;}
.gh-subscribe-input-btn {color: inherit}

.home-template #st-2{display: none;}
.st-btn img {display: inline-block !important; vertical-align: middle;}

.gh-btn:hover {
  background-color: black;
  color: #fff;
}

.kg-card.kg-button-card .kg-btn {
  font-size: 2rem;
}

.kg-button-card {
  margin-top:  20px;
}

.po-limit-container {
  max-width: 1200px;
  margin: auto;
}
.po-limit-container-mini {
  max-width: 720px;
  margin: auto;
}

.po-author-name {
	text-transform: uppercase;
	font: 700 1.3rem var(--fontDefault);
	letter-spacing: .3;
}

.po-home-authors-list li {
  list-style: none;
  margin-bottom: 30px;
}

.po-home-authors-list li a {
  display: flex;
  align-items: center;
}

.po-home-authors-list li figure {
  flex: 1;
  max-width: 80px;
  align-self: flex-start;
}


.po-home-authors-list img {
  max-width: 70px;
  /*float: left;*/
  border-radius: 100%;
  margin-right: 10px;
}

.po-home-authors-list h4,
.po-home-authors-list p {
  flex: 1;
  overflow: hidden;
}

.po-home-authors-list h4 {
  font: 700 1.5rem var(--fontDefault);
  text-transform: uppercase;
}

.po-home-authors-list p {
  font: 1.4rem/1.4 var(--fontSansSerif);
  padding-top: 4px;
}


/*
* LOOP CARD
*/
.po-loop-card {
  margin: 0 0 50px;
}

.po-loop-card .po-title {
  font: 700 2.3rem/1.4 var(--fontMono);
}

.po-loop-card .po-excerpt {
  font: 1.6rem/1.4 var(--fontSansSerif);
  padding: 10px 0;
}

.po-loop-card footer {
  font: 1.3rem/1.4 var(--fontSansSerif);
  text-transform: uppercase;
  color:  var(--colorRed);
}

.po-section-title {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  font-family: var(--fontMono);
  color: var(--colorRed);
}
.po-section-title:after {
  background-color: var(--color-light-gray);
  content: "";
  flex-grow: 1;
  height: 1px;
  margin-left: 1.6rem;
}

/***
 * Authors Page
***/

.po-authors-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.po-authors-list li {
  flex: 1 300px;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.po-authors-list li .gh-author-image {
  margin: 0 auto;
  width: 120px;
  height:  120px;
  max-width: 120px;
}

.po-authors-list .po-author-link:hover h2 {
  color: var(--colorRed);
}
.po-authors-list h2 {
  font: 600 2rem/1.4 var(--fontDefault);
  padding: 10px 0;
}
.po-authors-list p {
  font: 1.3rem/1.4 var(--fontSansSerif);
  margin-bottom: 10px;
}

.po-author-social {padding:  10px 0 0}
.po-author-website:hover {color: var(--colorRed);}

/***
 * Changes Overwrite
***/
.po-ghost-template .gh-wrapper.gh-wrapper-home {
  grid-template-columns: 3fr 2fr 1.8fr;
}

.po-ghost-template .gh-wrapper.gh-wrapper-home {
  column-gap: 3.4rem;
}

@media only screen and (max-width: 900px) {
  
  .gh-inner {
    padding: 0 20px;
  }
  .po-ghost-template .gh-wrapper.gh-wrapper-home {
    grid-template-columns: 1fr;
  }
}

.po-btn {
  font: 600 1.2rem/1.2 var(--fontDefault);
  letter-spacing: .1rem;
  background: var(--colorRed);
  color:  #fff;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none !important;
  border: 1px solid transparent;
  display: inline-block;
}

.po-btn:hover {
  border: 1px solid black;
  background: white;
  color: #000;
}


.with-social-link .po-social-icons {display: block !important;}


.po-social-icons {
  font-size: 0 !important;
  position: relative;
  top: -17px;
  display: none;
}
.po-social-icons li {font-size: 0 !important;}
.po-social-icons li a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 22px;
  height: 22px;
  text-indent: -99999px;
  overflow: hidden;
  color: transparent;
  margin: 0 3px;
}

.po-social-icons li a:hover {color: transparent !important;}

.po-social-telegram a {background-image: url(../images/social/telegram.png)}
.po-social-instagram a {background-image: url(../images/social/instagram.png)}
.po-social-twitter a {background-image: url(../images/social/twitter.png)}
.po-social-linkedin a {background-image: url(../images/social/linkedin.png)}
.po-social-rss a {background-image: url(../images/social/feed.png)}


.po-list-cards {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.po-card {
  list-style: none;
  flex: 1 250px;
  margin: 10px;
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
  border-radius: 3px;
  padding: 10px;
}

.po-card h2 {
  font: 600 1.6rem/1.5 var(--fontDefault);
  padding: 0px;
}

.po-card .po-author-name {
  font-weight: 400;
  padding: 10px 0;
  display: block;
}

.po-card img {transition: all linear .15s;}
.po-card img:hover {opacity: 0.8;}



.po-boxes-list {
  display:  flex;
  flex-wrap: wrap;
  align-content: space-between;
  list-style: none;
}

.po-boxes-list li {
  list-style: none;
  flex: 1 200;
  padding:  0 10px;
}

.po-box {
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 2.5rem !important;
  flex: 1 200;
}

.po-box img {
  margin-bottom: 10px;
}







