/**** 
 * Home
****/

.po-home-highlight {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10rem;
}

/*.po-home-highlight li a:hover,
.po-home-highlight li:hover h2 a,
.po-featured-home a:hover ~ *,
.po-featured-home a:hover ~ * a {color: var(--colorRed) !important;}*/

.po-home-highlight li {list-style: none; position: relative;}
.po-home-highlight .po-past-posts,
.po-home-highlight .po-featured-home,
.po-home-highlight .po-latest-posts {
	flex: 1 300px;
	list-style: none;
}


.po-home-highlight .po-past-posts,
.po-home-highlight .po-latest-posts {
	max-width: 300px;
	width:  100%;
	position: relative;
}


/**** 
 * Last Post published
****/
.po-home-highlight .po-featured-home {
	padding: 0 20px;
	text-align: center;
	position: relative;
}

.po-home-highlight .po-featured-home h1 {
	font: 600 3rem/1.2 var(--fontDefault);
	padding: 20px 0;
}

.po-home-highlight .po-featured-home p {
	padding:  0 20px;
	font: 2rem/1.2 var(--fontSansSerif);
}


.po-home-highlight .po-author-name {
	padding: 15px 0;
	display: inline-block;
}


/**** 
 * past post
****/
.po-home-highlight .po-past-posts .po-past-post-img {
	height: 150px;
	overflow: hidden;
	display: block;
}

.po-home-highlight .po-past-posts li:not(:last-child),
.po-home-highlight .po-latest-posts li:not(:last-child) {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.po-home-highlight .po-past-posts h2 {
	font: 400 1.7rem/1.5 var(--fontDefault);
	padding: 10px 0 0;
}
.po-home-highlight .po-past-posts .po-author-name {padding: 10px 0; display: block;}


/**** 
 * latest post
****/
.po-home-highlight .po-latest-posts li {
	display: block;
	overflow: hidden;
	width: 100%;
}


.po-home-highlight .po-latest-posts .po-latest-post-img {
	float: right;
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.po-home-highlight .po-latest-posts h3 {
	font: 1.6rem/1.5 var(--fontMono);
	padding-right: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}

.po-home-highlight li a:hover .po-home-sponsor {opacity: 1 !important;}


/***
 * Highlights Featured Posts
***/
.po-highlights {
  padding: 0 0 100px;
}

.po-highlights h3 {
  font: 1.6rem/1.5 var(--fontMono);
  padding: 10px 0;
}

.po-highlights ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}

.po-highlights li {
  flex: 1 200px;
  padding: 0 10px;
}

.po-highlights li:first-child {padding-left: 0;}
.po-highlights li:last-child {padding-right: 0;}
.po-highlights li a:hover * {color: var(--colorRed) !important;}


.po-home-sponsor {
	display: block;
	position: absolute;
	top:  5px;
	left:  25px;
	max-width: 100px;
}

.po-home-highlight .po-past-posts .po-home-sponsor,
.po-home-highlight .po-latest-posts .po-home-sponsor {
	left: 5px;
}

a:not(.kg-btn):not(.kg-product-card-button):hover {
  opacity: 1 !important;
}

.po-topic-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.po-topic-item + .po-topic-item {
  margin-top: 1.6rem;
}

.po-topic-name {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0;
}

.po-topic-item:hover .po-topic-name {color: var(--colorRed);}


.po-topic-count {
  border: 1px solid var(--color-light-gray);
  border-radius: 32px;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.4rem 0.8rem;
}